.DropDown{
  position: relative;
  top: 210px;
  left: 3vw;
  border-radius:2vw ;
  border-style: none;
  background-color: #C4C4C440;
  padding: 15px 8px;
  /* margin-right: 100vw; */
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.DropDown option {
  font-weight: bold;
  text-align: center;
}

