.orderItem_container {
    padding-left: 1vw;
    border-style: solid;
    border-color: #00000033;
    border-width: 0.2vw 0;
    margin: 1vw;
}

.orderItem_InfoItemBox {
    width: 100%;
    /* border-radius: 10px; */
    display: flex;
    flex-direction: column;
    /* gap: 40px; */
    /* align-items: center; */
    /* justify-content: flex-start */
}

.orderItem_mealContainer {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px;
}

.orderItem_mealItemBox {
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}