.orderItem_container {
    /* padding-left: 1vw; */
    border-bottom-style: solid;
    border-bottom-color: #00000033;
    border-bottom-width: 0.2vw 0;
    margin: 1vw;
}

.orderItem_infoItemAndButtonContainer {
    display: flex;
    flex-direction: row;
    padding: 30px;
    height: 150px;
    align-items: center;
}

.orderItem_infoItemContainer {
    height: 100%;
    flex: 3 1 auto;
}

.orderItem_buttonAndPriceContainer {
    height: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.orderItem_cancelBox {
    padding: 0px 20px;
    height: 100%;
    flex: 3 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* color: rgba(0, 0, 0, 0.7); */
}

.orderItem_cancelButton {
    padding: 0px 10px;
    width: auto;
    height: 30px;
    font-size: 16px; /* different from base button */
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.orderItem_cancelButton {
    background-color: firebrick;
    color: #fff;
}

.orderItem_cancelButton:hover {
    opacity: 0.8;
}

.orderItem_totalPriceAndDetail {
    padding: 0px 20px;
    height: 100%;
    flex: 1 2 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
}

.orderItem_mealContainer {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px;
}

.orderItem_mealItemBox {
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

