.orderContentItem_item {
    width: 100%;
    height: 120px;
    background-color: #e7e7e7;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 20px;
    /* border-right: 5px solid #b1b1b1; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px;
    position: relative;
}

.orderContentItem_imgBox {
    height: 100%;
    width: 15%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 auto;
    overflow: hidden;

}

.orderContentItem_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.orderContentItem_img img {
    height: 100%;
    width: 150px;
}

.orderContentItem_contentContainer {
    /* padding: 30px 20px; */
    padding: 0px 20px;
    height: 100%;
    flex: 3 1 auto;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    color: rgba(0, 0, 0, 0.7);
}

.orderContentItem_title {
    padding: 10px 0px;
    font-size: 24px;
    font-weight: bold;
}

.orderContentItem_price {
    /* padding: 10px 0px; */
    font-size: 16px;
}

.orderContentItem_otherContainer {
    /* padding: 30px 20px; */
    padding: 0px 20px;
    height: 100%;
    flex: 3 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: rgba(0, 0, 0, 0.7);
}

.orderContentItem_amount_totalPrice {
    padding: 10px 10px;
    height: 100%;
    font-size: 16px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-end;
}